spring.application:
  name: ${SPRING_APPLICATION_NAME:weather-producer}
kafka:
  bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
  replication-factor: ${KAFKA_REPLICATION_FACTOR:1}
  partitions: ${KAFKA_PARTITIONS:3}
  schema-registry-url: ${KAFKA_SCHEMA_REGISTRY_URL:http://kafka-schema-registry:8081}
  topic:
    weather: ${KAFKA_TOPIC_WEATHER:weather}