apiVersion: apps/v1
kind: Deployment
metadata:
  name: spark-worker
spec:
  replicas: 2  # Adjust number of workers as needed
  selector:
    matchLabels:
      app: spark-worker
  template:
    metadata:
      labels:
        app: spark-worker
    spec:
      containers:
      - name: spark-worker
        image: apache/spark:3.5.0
        command: ["/opt/spark/bin/spark-class", "org.apache.spark.deploy.worker.Worker", "spark://spark-master:7077"]
        ports:
        - containerPort: 8081
        env:
        - name: SPARK_WORKER_WEBUI_PORT
          value: "8081"
        - name: SPARK_WORKER_OPTS
          value: "-Dspark.shuffle.service.enabled=true"
        volumeMounts:
        - name: hdfs-config
          mountPath: /opt/spark/conf/core-site.xml
          subPath: core-site.xml
        - name: hdfs-config
          mountPath: /opt/spark/conf/hdfs-site.xml
          subPath: hdfs-site.xml
      volumes:
      - name: hdfs-config
        configMap:
          name: hdfs-config