name: CI/CD for yelp dataset

# Trigger the workflow on pushes to the main branch (adjust as needed)
on:
  workflow_dispatch:
  push:
    #paths:
    #  - "yelp-producer/content-fetcher/**"
    #branches:
    #  - main
  pull_request:
    paths:
      - "yelp-producer/content-fetcher/**"
    branches:
      - main

env:
  SUBPROJECT_PATH: yelp-producer

# The workflow uses the newest Ubuntu runner
jobs:
  build-yelp-dataset-fetcher:
    runs-on: ubuntu-latest
    env:
      # The base name of the docker image. e.g. ghcr.io/<REPO_NAME>/<DOCKER_IMAGE_NAME>:<VERSION_TAG>
      DOCKER_IMAGE_NAME: yelp-producer/fetcher

    # Required permissions: push to packages
    permissions:
      contents: read        # for actions/checkout
      packages: write       # to push to ghcr.io

    steps:
      # 1️⃣ Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            ${{ env.SUBPROJECT_PATH }}

      # 2️⃣ Log in to GitHub Container Registry (ghcr.io)
      #    GITHUB_TOKEN is automatically injected into the runner.
      - name: Log in to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}          # usually your GitHub username
          password: ${{ secrets.GITHUB_TOKEN }}  # the token is automatically available

      # See https://github.com/orgs/community/discussions/25768
      - name: Convert tags to lowercase
        id: converted_tags
        env:
          TAGS: |
            ghcr.io/${{ github.repository }}/${{ env.DOCKER_IMAGE_NAME }}:${{ github.sha }}
            # ghcr.io/${{ github.repository }}/${{ env.DOCKER_IMAGE_NAME }}:latest
            ${{ github.ref == 'refs/heads/main' && format('ghcr.io/{0}/{1}:latest', github.repository, env.DOCKER_IMAGE_NAME)  || '' }}
        run: |
          printenv TAGS | awk 'BEGIN { print "TAGS<<EOF" } NF > 0 && !/^[[:space:]]*#/ { print tolower($0) } END { print "EOF" }' | tee -a "$GITHUB_OUTPUT"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # 5️⃣ Build the Docker image and push it to ghcr.io
      - name: Build & push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ${{ env.SUBPROJECT_PATH }}/content-fetcher
          push: true
          tags: |
            ${{ steps.converted_tags.outputs.TAGS }}

          labels: |
            org.opencontainers.image.source=${{ github.repositoryUrl }}
            org.opencontainers.image.version=${{ github.sha }}

          cache-from: type=gha
          cache-to: type=gha,mode=max

  build-yelp-dataset-server:
    runs-on: ubuntu-latest
    env:
      CACHE_PATH: yelp-producer/server/cache

      # The base name of the docker image. e.g. ghcr.io/<REPO_NAME>/<DOCKER_IMAGE_NAME>:<VERSION_TAG>
      DOCKER_IMAGE_NAME: yelp-producer/server
      APP_NAME: yp-daemon

    # Required permissions: push to packages
    permissions:
      contents: read        # for actions/checkout
      packages: write       # to push to ghcr.io

    steps:
      # 1️⃣ Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            ${{ env.SUBPROJECT_PATH }}

      # 2️⃣ Log in to GitHub Container Registry (ghcr.io)
      #    GITHUB_TOKEN is automatically injected into the runner.
      - name: Log in to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}          # usually your GitHub username
          password: ${{ secrets.GITHUB_TOKEN }}  # the token is automatically available

      # See https://github.com/orgs/community/discussions/25768
      - name: Convert tags to lowercase
        id: converted_tags
        env:
          TAGS: |
            ghcr.io/${{ github.repository }}/${{ env.DOCKER_IMAGE_NAME }}:${{ github.sha }}
            # ghcr.io/${{ github.repository }}/${{ env.DOCKER_IMAGE_NAME }}:latest
            ${{ github.ref_name == github.event.repository.default_branch && github.ref_type == 'branch' && format('ghcr.io/{0}/{1}:latest', github.repository, env.DOCKER_IMAGE_NAME)  || '' }}
        run: |
          printenv TAGS | awk 'BEGIN { print "TAGS<<EOF" } NF > 0 && !/^[[:space:]]*#/ { print tolower($0) } END { print "EOF" }' | tee -a "$GITHUB_OUTPUT"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Generate categories file
        env:
          COUNT: 3
        run: |
          "${SUBPROJECT_PATH}/category-filtering/post-filter" "${SUBPROJECT_PATH}/server/categories"

      - name: Cache
        uses: actions/cache@v4
        with:
          path: ${{ env.CACHE_PATH }}
          key: ${{ github.job }}-${{ runner.os }}
          restore-keys: |
            ${{ runner.os }}-${{ hashFiles(format('{0}/**/Package.resolved', env.SUBPROJECT_PATH)) }}

      - name: Inject build-cache
        uses: reproducible-containers/buildkit-cache-dance@v3.3.0
        with:
          builder: ${{ steps.setup-buildx.outputs.name }}
          cache-dir: ${{ env.CACHE_PATH }}
          dockerfile: ${{ env.SUBPROJECT_PATH }}/server/Dockerfile
          skip-extraction: ${{ steps.cache.outputs.cache-hit }}

      # 5️⃣ Build the Docker image and push it to ghcr.io
      - name: Build & push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ${{ env.SUBPROJECT_PATH }}/server
          push: true
          build-args: |
            APP_NAME=${{ env.APP_NAME }}

          tags: |
            ${{ steps.converted_tags.outputs.TAGS }}

          labels: |
            org.opencontainers.image.source=${{ github.repositoryUrl }}
            org.opencontainers.image.version=${{ github.sha }}

          cache-from: type=gha
          cache-to: type=gha,mode=max
